body{
	-webkit-font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
}
ul.gmw-posts-wrapper{
	margin: 0;
}

.page-id-39419 .is-search-form.is-form-style.is-form-style-3.is-form-id-15327.is-ajax-search,
.page-id-39422 .is-search-form.is-form-style.is-form-style-3.is-form-id-15327.is-ajax-search,
.page-id-33088 .is-search-form.is-form-style.is-form-style-3.is-form-id-15327.is-ajax-search,
.page-id-20941 .is-search-form.is-form-style.is-form-style-3.is-form-id-15327.is-ajax-search,
.page-id-33101 .is-search-form.is-form-style.is-form-style-3.is-form-id-15327.is-ajax-search {
	display: none;
}
.page-id-39419 #colophon,
.page-id-39422 #colophon,
.page-id-33088 #colophon,
.page-id-20941 #colophon,
.page-id-33101 #colophon {
	display: none;
}
.page-id-39419 .buttonizer.buttonizer-group.buttonizer-group-0-0-1,
.page-id-39422 .buttonizer.buttonizer-group.buttonizer-group-0-0-1,
.page-id-33088 .buttonizer.buttonizer-group.buttonizer-group-0-0-1,
.page-id-20941 .buttonizer.buttonizer-group.buttonizer-group-0-0-1,
.page-id-33101 .buttonizer.buttonizer-group.buttonizer-group-0-0-1 {
	display: none !important;
}
.page-id-20941 .tablas .elementor-column {
	width: 25%;
}
.page-id-20941 .tablas p {
    margin-bottom: 0px !important;
}

.searchandfilter.wpfunos-filtro-tanatorio h4,
.searchandfilter.wpfunos-filtro-tanatorio select,
.searchandfilter.wpfunos-filtro-tanatorio input{
	font-size: 12px;
}

.wpfunos-boton-detalles {
	margin-bottom:5px;
}
.wpfunos-boton-llamada {
	width: 49%;
	margin-left: 10px;
	text-align: center;
}
.wpfunos-boton-llamar {
	width: 49%;
	text-align: center;
}
.wpfunos-busqueda-aseguradoras-contenedor,
.wpfunos-busqueda-contenedor {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 0px 10px 0px;
  box-shadow: 2px 3px 2px 0 rgb(0 0 0 / 50%);
  background: linear-gradient(-20deg, #F6F0EE 0%,#FFFFFF 100%);
}
.wpfunos-busqueda-aseguradoras-inferior{
	margin: 10px;
}
.wpfunos-botones-resultados {
	width: 100%;
	display: flex;
}
.wpfunos-resultado .elementor-widget:not(:last-child) {
    margin-bottom:0px;
}
.wpfunos-resultado p {
    margin-bottom: 0;
}
#wpfunos-texto-precio {
	font-weight: 700;
}
.wpfunos-result-map {
	padding-top: 35px;
}
