/* CÓMO FUNCIONA */
.wpfunos-num-circular {
	display: flex;
	background: #39C2F3;
	color: #fff;
	margin: 0 auto;
	min-width: 72px;
	height: 72px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

#wpfunos-detalles-precios .elementor-image-box-img {
	  margin: 0 auto 16px auto;
    display: block;
}

/* COMPARA PRECIOS */
#wpfunos-search-form-address .gmw-field-label{
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	color: #444;
}

#wpfunos-search-form-address input[type='text'] {
	font-size: 16px;
	padding: 16px;
	border-radius: 4px;
	border: 2px solid #5F6471;
	font-weight: 500;
	color: #999999;
}

#gmw-submit-4 {
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	font-weight: 700;
	background: #FF9C00;
	border-radius: 24px;
}

#gmw-submit-4:hover {
	background: #F28E00;
}

#wpfunos-search-wrapper {
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
}

#wpfunos-search-form-medio p {
	text-align: center;
	font-weight: 700;
	color: #444;
	font-size: 24px;
}

 div.gmw-form-wrapper div.gmw-locator-button-wrapper.text {
	background: transparent;
	 font-size: 16px;
	 font-weight: 600;
	 border: none;
	 outline: none;
	 padding: 0;
	 color: #39C2F3;
	 margin-top: -30px;
}

 div.gmw-form-wrapper div.gmw-locator-button-wrapper.text:hover {
	 background: transparent;
}

#wpfunos-search-form-mensaje-radius {
	font-size: 16px;
	font-weight: 600;
	color: #444;
}

.slider-value, .units {
	font-size: 14px;
	color: #5F6471;
	font-weight: 500;
}

.wpfunos-busqueda-contenedor {
	background: #fff!important;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 24px;
	box-shadow: 0px 6px 20px rgba(149, 157, 165, 0.3)!important;
	margin: 2rem!important auto!important;
}

.wpfunos-busqueda-contenedor input[type="submit"] {
	background-color: #FF9C00!important;
	font-weight: 600;
	font-size: 14px!important;
}

.wpfunos-busqueda-contenedor .wpfunos-boton-llamada .wpfunos-boton-detalles  {
	padding: 0!important;
	margin-top: 12px;
	border: none;
	outline: none;
	background-color: transparent!important;
	color: #39C2F3;
	font-size: 14px!important;
	font-weight: 600;
	text-align: left;
}

.wpfunos-boton-llamada form {
	text-align: left;
	padding-left: 8px;
}

.gmw-single-location-wrapper  {
	border: none!important;
	padding: 0!important;
}

.wpfunos-titulo h2 {
	font-size: 26px;
	color: #39C2F3;
}

.address a {
	font-size: 14px;
	font-weight: 600;
	color: #39C2F3;
}

.trigger-wrapper a.form-trigger {
	font-size: 14px;
	font-weight: 600;
	color: #39C2F3;
}

.gmw-icon-location-thin {
	color: #39C2F3!important;
}

.gmw-sl-address i {
	color: #39C2F3!important;
}

.elementor-form button {
	border: 2px solid #ff9c00!important;
}

.elementor-form input {
	padding: 16px!important;
}

@media (max-width: 500px) {
	#gmw-address-field-4 {
		font-size: 14px!important;
		padding: 12px!important;
	}

	#wpfunos-search-form-address 		.gmw-field-label{
		font-size: 20px;
	}

	#wpfunos-search-form-medio p {
		font-size: 18px;
	}

	#wpfunos-search-form-mensaje-radius {
		font-size: 14px;
	}

	#gmw-submit-4 {
		font-size: 14px;
	}

	.slider-value, .units {
	font-size: 12px;
}

	#gmw-locator-text-4 {
		font-size: 14px;
	}

	.elementor-form input {
		padding: 12px!important;
		font-size: 14px!important;
	}

	.wpfunos-busqueda-contenedor input[type="submit"] {
		font-size: 12px!important;
		padding: 10px;
	}

	.wpfunos-busqueda-contenedor {
	padding: 12px 14px;
}
