#wpf-llamamos-cerrar,#wpf-llamar-cerrar,.wpf-v3-boton-filtro,.wpf-multiform-button,.wpf-v3-boton-filtro-movil, .wpf-v3-boton-llamamos, .wpf-v3-boton-llamar, .wpf-v3-boton-presupuesto, .wpf-v3-boton-detalles, .wpfunos-detalles-botones{
  cursor: pointer;
}
div.gmw-ajax-results-wrapper .gmw-ajax-filters, div.gmw-ajax-results-wrapper .gmw-results {
  display: block;
}
.wpfunos-busqueda-contenedor{
  margin:20px 0 20px 0 !important;
}

#wpfunos-logo-confirmado {
  text-align: right;
}

.elementor-56672 .elementor-element.elementor-element-17561c83 .elementor-button{
  padding: 15px !important;
}

@media (max-width: 767px) {

  #elementor-popup-modal-84639 .dialog-message,
  #elementor-popup-modal-89354 .dialog-message {
    padding: 75px 0 75px 0 !important;
  }

  #wpf-formulario-datos-texto1 {
    font-size: 13px !important;
    padding: 0 9px 0 9px !important;
  }
  #wpf-formulario-datos-texto2 {
    font-size: 10px !important;
    margin: 10px 48px 0 48px !important;
  }
  .elementor-element.elementor-element-602438cf.elementor-widget.elementor-widget-spacer {
    margin: 0px !important;
  }

  .elementor-56676 .elementor-element.elementor-element-392c216 > .elementor-widget-container {
    margin: 0px 10px 60px 10px !important;
  }
  .elementor-90421 .elementor-element.elementor-element-56b8d6b .elementor-button, .elementor-90421 .elementor-element.elementor-element-6759cff .elementor-button, .elementor-90421 .elementor-element.elementor-element-bc29bc6 .elementor-button, .elementor-90421 .elementor-element.elementor-element-738fc49 .elementor-button {
    font-size: 10px !important;
  }
  .elementor-90421 .elementor-element.elementor-element-d5258f5.e-container {
    width: 100%;
    text-align: center;
  }
  .elementor-90421 .elementor-element.elementor-element-b332e9f , .elementor-90421 .elementor-element.elementor-element-99cb1c3 ,.elementor-90421 .elementor-element.elementor-element-d67d5f2,
	.elementor-89344 .elementor-element.elementor-element-32e6adb, .elementor-89344 .elementor-element.elementor-element-20a19f27, .elementor-89344 .elementor-element.elementor-element-318c396e, .elementor-89344 .elementor-element.elementor-element-1380f279{
    width: 100% !important;
  }
  .elementor-90421 .elementor-element.elementor-element-0aad611 {
    text-align: center !important;
  }
  #wpfunos-logo-confirmado,.elementor-90421 .elementor-element.elementor-element-739e602 , .elementor-90421 .elementor-element.elementor-element-ba59aa6 , .elementor-90421 .elementor-element.elementor-element-2f96822 {
    align-self: center;
  }
  .elementor-90421 .elementor-element.elementor-element-4d0c002a,
  .elementor-90421 .elementor-element.elementor-element-1e626356,
  .elementor-90421 .elementor-element.elementor-element-4b4c36b8,
  .elementor-90421 .elementor-element.elementor-element-5555c1be,
  .elementor-90421 .elementor-element.elementor-element-25abed0,
  .elementor-90421 .elementor-element.elementor-element-36d668dc,
  .elementor-90421 .elementor-element.elementor-element-18eaf89f,
  .elementor-90421 .elementor-element.elementor-element-4b4c36b8 > .elementor-element-populated,
  .elementor-90421 .elementor-element.elementor-element-5555c1be > .elementor-element-populated
  {
    width: 100% !important;
  }
  .elementor-90421 .elementor-element.elementor-element-1a728eb8 > .elementor-widget-container,
  .elementor-90421 .elementor-element.elementor-element-55008bd7 > .elementor-widget-container,
  .elementor-90421 .elementor-element.elementor-element-6472ad92 > .elementor-widget-container {
    margin: 0px 0px 0px 0px !important;
  }
  .elementor-90421 .elementor-element.elementor-element-55008bd7,
  .elementor-90421 .elementor-element.elementor-element-6472ad92,
  .elementor-90421 .elementor-element.elementor-element-1e626356,
  .elementor-90421 .elementor-element.elementor-element-30ba437f,
  .elementor-90421 .elementor-element.elementor-element-53454c45,
  .elementor-90421 .elementor-element.elementor-element-18eaf89f,
  .elementor-56672 .elementor-element.elementor-element-5037b52,
  .elementor-56672 .elementor-element.elementor-element-6cb31274{
    text-align: center !important;
  }

  .elementor-90421 .elementor-element.elementor-element-44b0c436 {
    width: 100% !important;
    text-align: center ;
    margin: 10px;
  }

  .elementor-90421 .elementor-element.elementor-element-6472ad92 > .elementor-widget-container {
    padding: 0px 0px 0px 0px !important;
  }

  .elementor-56672 .elementor-element.elementor-element-5229d378,
  .elementor-56672 .elementor-element.elementor-element-e0ce4a6 {
    width: 100% !important;
  }
  .elementor-56672 .elementor-element.elementor-element-39510de7,
  .elementor-56672 .elementor-element.elementor-element-5e6206df {
    width: 100% !important;
    text-align: center !important;
  }

  .elementor-89788 .elementor-element.elementor-element-d73cc4a,
  .elementor-89788 .elementor-element.elementor-element-f4621c0,
  .elementor-89788 .elementor-element.elementor-element-6bfb380 {
    width: 31%;
  }

  .elementor-89788 .elementor-element.elementor-element-81debca,
  .elementor-89788 .elementor-element.elementor-element-811a24a,
  .elementor-89788 .elementor-element.elementor-element-a5538f1,
  .elementor-89788 .elementor-element.elementor-element-b044f62,
  .elementor-89788 .elementor-element.elementor-element-e8ad7dd,
  .elementor-89788 .elementor-element.elementor-element-488209d,
  .elementor-89788 .elementor-element.elementor-element-c321d0f,
  .elementor-89788 .elementor-element.elementor-element-efeb151,
  .elementor-89788 .elementor-element.elementor-element-abc7743,
  .elementor-89788 .elementor-element.elementor-element-65f6120,
  .elementor-89788 .elementor-element.elementor-element-ee83b21,

  .elementor-89788 .elementor-element.elementor-element-8efa95d,
  .elementor-89788 .elementor-element.elementor-element-8e0760d{
    width: 48%
  }

  /*.elementor-89788 .elementor-element.elementor-element-5bcb91b,
  .elementor-89788 .elementor-element.elementor-element-59d5e6f,
  .elementor-89788 .elementor-element.elementor-element-f6f4d95,
  .elementor-89788 .elementor-element.elementor-element-a69cfda
  {
  margin-bottom: -45px;
  }*/

  /* .elementor-89788 .elementor-element.elementor-element-0807a33,
  .elementor-89788 .elementor-element.elementor-element-c973639{
  margin-top: -35px;
  }*/

  /*.elementor-89788 .elementor-element.elementor-element-6985504,
  .elementor-89788 .elementor-element.elementor-element-455c714{
  margin-top: -10px;
  }*/

  /*.elementor-89788 .elementor-element.elementor-element-a2ab720,
  .elementor-89788 .elementor-element.elementor-element-4b628c3,
  .elementor-89788 .elementor-element.elementor-element-8c2fab7{
  margin-top: -15px;
  }*/

  .elementor-56672 .elementor-element.elementor-element-1784eb3e{
    padding: 0px 0px 0px 0px !important;
  }
  .elementor-90421 .elementor-element.elementor-element-30ba437f {
    width: 100% !important;
  }
  .elementor-90421 .elementor-element.elementor-element-c81dd98{
    text-align: center !important;
  }
  .elementor-90421 .elementor-element.elementor-element-3cd6df3a {
    width: 100% !important;
  }

  /* Multform 1*/
  .elementor-89340 .elementor-element.elementor-element-67a6e7c4 {
    width: 100% !important;
  }
  .elementor-89340 .elementor-element.elementor-element-2156de85 {
    width: 100% !important;
  }
  .elementor-89340 .elementor-element.elementor-element-4e94273c > .elementor-widget-container {
    margin: 0px 5px 0px 5px !important;
    padding: 0px 0px 0px 0px;
  }

  /* Multform 3*/
  .elementor-89348 .elementor-element.elementor-element-6ada97a > .elementor-widget-container {
    margin: 0px 5px 0px 5px !important;
    padding: 0px 0px 0px 0px;
  }
  .elementor-89348 .elementor-element.elementor-element-5389a1c4 {
    width: 100% !important;
  }
  .elementor-89348 .elementor-element.elementor-element-6311072c {
    width: 100% !important;
  }

  /* Multform 4*/
  .elementor-column.elementor-col-25.elementor-top-column.elementor-element.elementor-element-3a4d230b {
    margin-top: -40px !important;
  }
  .elementor-column.elementor-col-25.elementor-top-column.elementor-element.elementor-element-7b3d81c6 {
    margin-top: -10px !important;
  }
  .elementor-column.elementor-col-25.elementor-top-column.elementor-element.elementor-element-6ce1488 {
    margin-top: -10px !important;
  }
  .elementor-column.elementor-col-25.elementor-top-column.elementor-element.elementor-element-48c4a56 {
    margin-top: -10px !important;
  }

  /* Multform 5*/
  .elementor-89354 .elementor-element.elementor-element-5b6311c4 > .elementor-widget-container {
    margin: 0px 20px 20px 20px !important;
    padding: 0px 0px 0px 0px;
  }
  .elementor-89354 .elementor-element.elementor-element-110e6d07 > .elementor-widget-container {
    margin: 0px 5px 0px 5px !important;
    padding: 0px 0px 0px 0px;
  }
  /** **/
  .elementor-56672 .elementor-element.elementor-element-68d57947 .elementor-button,
  .elementor-56672 .elementor-element.elementor-element-37e07e1a .elementor-button,
  .elementor-56672 .elementor-element.elementor-element-136ba72b .elementor-button,
  .elementor-56672 .elementor-element.elementor-element-4957b91d .elementor-button {
    font-size: 11px !important;
  }

  .elementor-column.elementor-col-50.elementor-top-column.elementor-element.elementor-element-25abed0,
  .elementor-column.elementor-col-50.elementor-top-column.elementor-element.elementor-element-36d668dc {
    margin: 0 40px 0 40px;
  }

  .elementor-column.elementor-col-50.elementor-top-column.elementor-element.elementor-element-74b427e6,
  .elementor-column.elementor-col-50.elementor-top-column.elementor-element.elementor-element-4b4c36b8 {
    margin-bottom: 15px;
  }
  .elementor-90421 .elementor-element.elementor-element-72edd1e6 .elementor-button,
  .elementor-90421 .elementor-element.elementor-element-2c95cdc6 .elementor-button {
    padding: 15px 15px 15px 15px !important;
  }
  #precios-productos {
    padding: 0px 30px 0px 30px;
  }
  #te-recomedamos {
    padding: 0px 30px 0px 30px;
  }
  .elementor-56672 .elementor-element.elementor-element-9870863 {
    width: 100% !important;
  }
  .elementor-56672 .elementor-element.elementor-element-24cd7ff {
    width: 100% !important;
  }
  .elementor-accordion .elementor-tab-title .elementor-accordion-icon svg {
    width: 47px !important;
    height: 23px !important;
  }
  .elementor-accordion .elementor-tab-title .elementor-accordion-icon {
    width: 47px !important;
    margin-top: -4px !important;
  }

}

#wpf-financiacion-funeraria {
  font-size: 24px;
  font-weight: 600;
}
#wpf-financiacion-tipo {
  font-size: 16px;
}
#form-field-importe {
  border: 0;
  font-size: 26px;
  font-weight: 600;
}
#form-field-financiar {
  border: 0;
  font-size: 26px;
  font-weight: 600;
}

.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.wpfunos-busqueda-contenedor {
  margin: 20px 0 20px 0;
}

.elementor-element.elementor-element-3d638325.e-con-boxed.e-con {
	display: none;
}

.elementor-field-type-hidden {
	display: none;
}

#form-field-IP,
#form-field-donde{
	display: none;
}

label[for="form-field-IP"],
label[for="form-field-donde"]{
	display: none;
}
