.wpfunos-boton-detalles {
	margin-bottom:5px;
}
.wpfunos-boton-llamada {
	width: 100%;
	margin-left: 10px;
	text-align: center;
}
.wpfunos-boton-llamar {
	width: 49%;
	text-align: center;
}
.wpfunos-busqueda-aseguradoras-contenedor,
.wpfunos-busqueda-contenedor {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 0px 10px 0px;
  box-shadow: 2px 3px 2px 0 rgb(0 0 0 / 50%);
  background: linear-gradient(-20deg, #F6F0EE 0%,#FFFFFF 100%);
}
.wpfunos-busqueda-aseguradoras-inferior{
	margin: 10px;
}
.wpfunos-botones-resultados {
	width: 100%;
	display: flex;
}
.wpfunos-resultado .elementor-widget:not(:last-child) {
    margin-bottom:0px;
}
.wpfunos-resultado p {
    margin-bottom: 0;
}
#wpfunos-texto-precio {
	font-weight: 400;
		color: red;
		font-size: 14px;
}
.wpfunos-result-map {
	padding-top: 35px;
}
.wpfunos-notas-servicio.wplp-button.thickbox.button {
	display: none;
}
.wpfunos-notas-servicio.button.sgpb-insert-media-button-js a{
	display: none;
}
.wpfunos-notas-servicio #add_gmw_form {
	display: none;
}
#wpfunos-servicios-confirmado-boton-detalles {
	margin-top: 20px;
}
.wpfunos-resultados-orden-container{
	margin-top: 10px;
	text-align: center;
}
.wpfunos-resultados-orden{
	text-align: center;
}
#wpfunos-orden-inactivo{
	background-color: #AAA;
	padding: 8px 16px 8px 16px;
	margin-left: 3px;
	margin-right: 3px;
}
#wpfunos-orden-activo{
	margin-left: 3px;
	margin-right: 3px;
	padding: 8px 16px 8px 16px;
}
#wpfunos-orden-activo a{
		color:white;
}

.wpfunos-busqueda-contenedor input[type="submit"] {
	width: 100%
}

.wpfunos-boton-llamada {
	/*margin-right: 0px !important;*/
}
