body{
	-webkit-font-feature-settings: "lnum";
	-moz-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
}
ul.gmw-posts-wrapper{
	margin: 0;
}

.single .post-navigation .nav-links{
	display: none !important;
}

.page-header {
	display: none;
}

.woocommerce-product-gallery.woocommerce-product-gallery--without-images.woocommerce-product-gallery--columns-4.images {
	display: none;
}

.woocommerce #content .ast-woocommerce-container div.product div.summary, .woocommerce .ast-woocommerce-container div.product div.summary, .woocommerce-page #content .ast-woocommerce-container div.product div.summary, .woocommerce-page .ast-woocommerce-container div.product div.summary {
	width: 100% !important;
	padding-left: 33%;
	padding-right: 33%;
}

.woocommerce.single-product .sale > span.onsale {
	font-size: 1em;
	left: -.5em;
	display: none;
}

.woocommerce-page.woocommerce-checkout form #order_review td.product-name .product-quantity, .woocommerce.woocommerce-checkout form #order_review td.product-name .product-quantity {
	font-weight: 400;
	display: none;
}

.bundled_product_title_link {
	display: none;
}

.bundle_table_item .product-quantity {
	display: none;
}

.bundled_table_item_indent .product-quantity {
	display: none;
}

.related.products {
	display: none !important;
}
#tab-title-additional_information {
	display: none !important;
}

.elementor-field-group.elementor-column.elementor-field-type-submit.elementor-col-100.e-form__buttons {
	margin-top: 30px;
}

.searchandfilter.wpfunos-filtro-tanatorio h4,
.searchandfilter.wpfunos-filtro-tanatorio select,
.searchandfilter.wpfunos-filtro-tanatorio input{
	font-size: 12px;
}

.cli-bar-btn_container {
	margin-right: 250px;
}

/** **/
/** **/
/** **/
/** **/

#wpfunos-close-form {
	font-weight: 700;
	font-size: 20px!important;
	text-align: right;
	margin-top: -1rem;
	cursor: pointer;
	background: #e74c3c;
	color: #fff;
	padding: 0;
	display: flex!important;
	width: 24px!important;
	height: 24px!important;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 16px!important;
	top: 24px!important;
}

#wpfunos-fixed-form-wrapper span {
	margin-bottom: 1.25rem;
	display: block;
	color: #444;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

#wpfunos-fixed-form-wrapper h2 {
	font-size: 26px;
	text-align: center;
}

#wpfunos-fixed-form-wrapper {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	position: fixed;
	bottom: 16px;
	left: 16px;
	padding: 1.5rem;
	border-radius: 6px;
	background: #fff;
	min-width: 256px;
	animation: slide 1s;
	z-index: 9999;
	padding-top: 32px;
	max-width: 390px;
}

#wpfunos-fixed-form-wrapper .form-separator {
	margin-bottom: 16px;
}

#wpfunos-fixed-form-wrapper .form-separator label {
	display: block;
	font-size: 14px;
	font-weight: 600;
}

#wpfunos-fixed-form-wrapper 	button {
	display: block;
	font-size: 14px;
	width: 100%;
}

#wpfunos-fixed-form-wrapper .form-separator input {
	width: 100%;
	max-width: 500px;
}

#wpfunos-btns-wrapper {
	position: fixed;
	bottom: 16px;
	right: 16px;
	display: flex;
	flex-direction: column;
	align-items: end;
	z-index: 9999;
	animation: slide 1s;
}

@keyframes slide {
	0% {
		transform: translatex(100%) ;
	}
	100% {
		transform: translatex(0);
	}
}

#wp-funos-btn-comparar-wrapper {
	display: flex;
	align-items: center;
}

#wpfunos-btn-whatsapp {
	background: #25D366;
}

.wpfunos-btn-cta {
	background: #ff9c00;
	padding: 18px;
	border-radius: 50%;
	box-shadow: 0 2px 12px  #999;
	display: inline-block;
	width: max-content;
	height: max-content;
	margin-top: 6px;
}

.wpfunos-btn-cta img {
	width: 30px;
	height: auto;
}

#wpfunos-btn-llamar {
	display: none;
	background: #39c2f3;
}

#wp-funos-btn-comparar-wrapper span {
	margin-top: 12px;
	display: inline-block;
	width: 100%;
	background: #a0a0a0;
	color: #fff;
	font-size: 14px;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	font-weight: 500;
	margin-right: 6px;
}

#wpfunos-btn-comparar {
	width: 81px;
	background: #ff9c00;
	padding: 18px;
	border-radius: 50%;
	box-shadow: 0 2px 12px  #999;
	animation: uwuowo 2.5s;
	animation-iteration-count: 5;
}

@keyframes uwuowo {
	0% {
		transform: scale(1.12);
	}
	50% {
		transform: scale(0.98);
	}
	100% {
		transform: scale(1.12);
	}
}

/* CÓMO FUNCIONA */
.wpfunos-num-circular {
	display: flex;
	background: #39C2F3;
	color: #fff;
	margin: 0 auto;
	min-width: 72px;
	height: 72px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

#wpfunos-detalles-precios .elementor-image-box-img {
	margin: 0 auto 16px auto;
	display: block;
}

/* COMPARA PRECIOS */
#wpfunos-search-form-address .gmw-field-label{
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	color: #444;
}

#wpfunos-search-form-address input[type='text'] {
	font-size: 16px;
	padding: 16px;
	border-radius: 4px;
	border: 2px solid #5F6471;
	font-weight: 500;
	color: #999999;
}

#wpfunos-texto-precio {
	color: #39c2f3!important;
	font-weight: 600!important;
}

#gmw-submit-3,
#gmw-submit-4 {
	display: block;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	font-weight: 700;
	background: #FF9C00;
	border-radius: 24px;
}

#gmw-submit-3,
#gmw-submit-4:hover {
	background: #F28E00;
}

#wpfunos-search-wrapper {
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
}

#wpfunos-search-form-medio p {
	text-align: center;
	font-weight: 700;
	color: #444;
	font-size: 24px;
}

div.gmw-form-wrapper div.gmw-locator-button-wrapper.text {
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	border: none;
	outline: none;
	padding: 0;
	color: #39C2F3;
	margin-top: -30px;
}

div.gmw-form-wrapper div.gmw-locator-button-wrapper.text:hover {
	background: transparent;
}

#wpfunos-search-form-mensaje-radius {
	font-size: 16px;
	font-weight: 600;
	color: #444;
}

.slider-value, .units {
	font-size: 14px;
	color: #5F6471;
	font-weight: 500;
}

.wpfunos-busqueda-contenedor {
	background: #fff!important;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 24px;
	box-shadow: 0px 6px 20px rgba(149, 157, 165, 0.3)!important;
	margin: 2rem!important auto!important;
}

.wpfunos-busqueda-contenedor input[type="submit"] {
	background-color: #FF9C00!important;
	font-weight: 600;
	font-size: 14px!important;
}

.wpfunos-busqueda-contenedor .wpfunos-boton-llamada .wpfunos-boton-detalles  {
	padding: 0!important;
	margin-top: 12px;
	border: none;
	outline: none;
	background-color: transparent!important;
	color: #39C2F3;
	font-size: 14px!important;
	font-weight: 600;
	text-align: center;
	width: 100%;
}

.wpfunos-boton-llamada form {
	text-align: left;
	padding-left: 8px;
}

.gmw-single-location-wrapper  {
	border: none!important;
	padding: 0!important;
}

.wpfunos-titulo h2 {
	font-size: 26px;
	color: #39C2F3;
}

.address a {
	font-size: 14px;
	font-weight: 600;
	color: #39C2F3;
}

.trigger-wrapper a.form-trigger {
	font-size: 14px;
	font-weight: 600;
	color: #39C2F3;
}

.gmw-icon-location-thin {
	color: #39C2F3!important;
}

.gmw-sl-address i {
	color: #39C2F3!important;
}

.elementor-form button {
	border: 2px solid #ff9c00!important;
}

.elementor-form input {
	padding: 16px!important;
}

@media (max-width: 500px) {
	#wpfunos-btn-llamar {
		display: block;
	}

	#wp-funos-btn-comparar-wrapper span {
		display: none;
	}

	#gmw-address-field-4 {
		font-size: 14px!important;
		padding: 12px!important;
	}

	#wpfunos-search-form-address 		.gmw-field-label{
		font-size: 20px;
	}

	#wpfunos-search-form-medio p {
		font-size: 18px;
	}

	#wpfunos-search-form-mensaje-radius {
		font-size: 14px;
	}

	#wpfunos-btn-comparar {
		width: 65px;
	}

	#gmw-submit-3,
	#gmw-submit-4 {
		font-size: 14px;
	}

	.slider-value, .units {
		font-size: 12px;
	}

	#gmw-locator-text-4 {
		font-size: 14px;
	}

	#wpfunos-texto-precio {
		text-align: center!important;
	}

	#wpfunos-fixed-form-wrapper input {
		font-size: 12px;
		padding: 6px;
	}

	#wpfunos-fixed-form-wrapper button {
		font-size: 12px;
		padding: 10px;
	}

	#wpfunos-fixed-form-wrapper {
		padding: 1.25rem;
	}

	#wpfunos-fixed-form-wrapper h2 {
		font-size: 22px;
	}

	#wpfunos-fixed-form-wrapper label {
		font-size: 12px!important;
	}

	.elementor-form input {
		padding: 12px!important;
		font-size: 14px!important;
	}

	.wpfunos-busqueda-contenedor input[type="submit"] {
		font-size: 13px!important;
		padding: 13px 20px;
		width: 100%;
	}

	.wpfunos-btn-cta {
		padding: 12px;
	}

	.wpfunos-btn-cta img {
		width: 28px
	}

	#wpfunos-fixed-form-wrapper  {
		bottom: 16px;
		right: 16px;
	}

	#wpfunos-btn-comparar {
		width: 52px;
		height: 52px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#wpfunos-btn-comparar img{
		max-width: 28px;
	}


	.wpfunos-botones-resultados {
		width: 100%!important;
		display: flex!important;
		/*    flex-wrap: nowrap!important; */
		/*    flex-direction: column!important; */
	}

	#wpfunos-close-form {
		font-size: 14px!important;
	}

	#wpfunos-fixed-form-wrapper h2 {
		margin-top: 12px;
		font-size: 20px;
	}

	#wpfunos-fixed-form-wrapper span {
		font-size: 14px;
	}

	.wpfunos-boton-llamar {
		width: 100%!important;
		/*margin-top: 13px;*/
	}

	#wpfunos-fixed-form-wrapper .form-separator {
		margin-bottom: 10px;
	}

	#wpfunos-fixed-form-wrapper .form-separator input {
		font-size: 12px;
		padding: 3px 6px;
	}

	.wpfunos-busqueda-contenedor {
		padding: 12px 14px;
	}
}

#form-field-accion,
#form-field-ok,
#form-field-IP{
	display: none;
}

label[for="form-field-accion"],
label[for="form-field-ok"],
label[for="form-field-IP"]{
	display: none;
}

#cookie-law-info-again{
	z-index: 99999;
}

.elementor-field-group.e-form__buttons__wrapper.elementor-field-type-previous {
	display: none;
}

#wpfConfirmacionok {
	display: none;
}
