@media (max-width: 500px) {
	#landing-linea-1 {
		margin-top: 40px;
		font-size: 32px;
		line-height: 32px;
	}
	#landing-linea-2 h2 {
		font-size: 22px;
	}
	#landing-linea-3 .elementor-heading-title.elementor-size-default {
		font-size: 22px;
	}
}
